<div class="user-details">
  <h1>Who is Sylvie?</h1>
  <p>Meet Sylvie Lestideau RMT, an experienced and compassionate Registered Massage Therapist. She graduated with honours and received the Heart Award from the 3000-hour program at VCMT. Sylvie's diverse background, shaped by various life experiences, gives her a unique perspective on well-being. 
  <p>As an RMT, Sylvie is committed to meeting clients where they are and appreciating them unconditionally, fostering a warm and positive regard. Your well-being is a journey that Sylvie is prepared to take with you as you are ready.
</div>
