<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">Hellow Muscle Massage Therapy</span>
        <span class="site-description">Bodies. Hands. Humans.</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Book Now" target="_blank" href="https://hellowmuscle.janeapp.com"><i class="icon fa fa-calendar-check" aria-hidden="true"></i></a>
        <a aria-label="Send email" href="#"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Linkedin" target="_blank" href="#"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="Facebook" target="_blank" href="#"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#ourvision" data-scroll>Our Vision</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
