  <div class="user">
    <div class="tech">
      <h2>DL- from Vancouver</h2>
      <p><i>“Sylvie, as an RMT, is nothing but a professional at the craft. I have been seeing her for lower and upper back pains, and she has been able to effectively help me manage my pains so that I can continue doing what I enjoy, including sports and other activities. She listens to your concerns and the entire process is highly enjoyable."</i></p>
    </div>
    <div class="tech">
      <h2>MM From Vancouver</h2>
      <p><i>"I have been seeing Sylvie regularly for close to two years now.  She is an exceptionally skilled practitioner able to successfully address some of the most challenging conditions such as sciatica, frozen shoulder, golfer’s elbow, or carpal tunnel syndrome. She is also a delightful and compassionate human being who deeply cares about her patients and provides them with high-quality care and a welcoming ambiance. If you are lucky enough to be in Sylvie’s care, you do not have to look any further and should ensure never to let her go."</i></p>
    </div>
    <div class="tech">
      <h2>SLH from Burnaby</h2>
      <p><i>"I have been a client of Sylvie's for over 2 years. My wellness has improved a lot. I used to get back and side pain quite easily, but after a few sessions, my pain started to ease gradually. With a combination of massage therapy and doing some light exercises, I can keep good posture, and my pain is under control now."</i></p>
    </div>
  </div>