<div class="user-details">
  <h1>Treatments</h1>
  <p>Available in Burnaby, BC <a class="project-link" href="https://hellomuscle.janeapp.com">Book Now</a></p>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/bikeppls.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Initial treatment </h3>
    <p>New massage therapy clients will begin with assessment and intake, filling out a form about their health history and preferences. The therapist will then consult with the client to customize the session, addressing specific concerns. Various techniques will be used during the massage for relaxation and tension relief. The therapist may offer self-care recommendations post-massage, and clients can schedule follow-up sessions if desired. The goal is to create a comfortable, personalized experience for ongoing well-being.</p>
    <a class="project-link" href="https://hellomuscle.janeapp.com">Book Now</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/handppls.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Return Visit</h3>
    <p>A return visit for massage therapy typically involves a client returning to the therapist for additional sessions after an initial appointment. During a return visit, the therapist may reassess the client's needs and progress since the last session, discuss any changes in symptoms or goals, and tailor the massage treatment accordingly. The therapist may use various techniques to address specific tension, discomfort, or relaxation areas based on the client's preferences and feedback. The goal is to provide ongoing therapeutic benefits, promote overall well-being, and address any new concerns that may have arisen since the previous session. Regular return visits are often recommended for sustained health benefits and to maintain the positive effects of massage therapy.</p>
    <a class="project-link" href="https://hellomuscle.janeapp.com">Book Now</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/cityppls.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Temporal Mandibular Dysfunction Treatment</h3>
    <p>Temporomandibular Joint (TMJ) massage therapy addresses jaw joint and muscle issues. The process includes assessing jaw movement, introducing relaxation techniques, releasing tension, gentle joint mobilization, and recommending home exercises. The cause and, therefore, treatment of TMD is often so varied that consulting a qualified therapist or healthcare professional for effective TMJ relief is recommended.</p>
    <a class="project-link" href="https://hellomuscle.janeapp.com">Book Now</a>
  </div>
</div>
