<div class="user-details">
  <h1>Treatments</h1>
  <p>Available in Burnaby, BC</p>
  <p><a class="project-link" href="https://hellomuscle.janeapp.com">Book Now</a></p>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/bikeppls.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Initial treatment </h3>
    <p>New massage therapy clients will begin with assessment and intake, filling out a form about their health history and preferences. The therapist will then consult with the client to customize the session, addressing specific concerns. Various techniques will be used during the massage for relaxation and tension relief. The therapist may offer self-care recommendations post-massage, and clients can schedule follow-up sessions if desired. The goal is to create a comfortable, personalized experience for ongoing well-being.</p>
    <a class="project-link" href="https://hellomuscle.janeapp.com">Book Now</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/handppls.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Return Visit</h3>
    <p>A return visit for massage therapy involves the therapist reassessing the client's needs and progress, tailoring the massage treatment accordingly. Regular return visits are recommended for sustained health benefits.
</p>
    <a class="project-link" href="https://hellomuscle.janeapp.com">Book Now</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/cityppls.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Temporal Mandibular Dysfunction Treatment</h3>
    <p>Temporomandibular Joint (TMJ) massage therapy addresses jaw joint and muscle issues. The process includes assessing jaw movement, introducing relaxation techniques, releasing tension, gentle joint mobilization, and recommending home exercises. The cause and, therefore, treatment of TMD is often so varied that consulting a qualified therapist or healthcare professional for effective TMJ relief is recommended.</p>
    <a class="project-link" href="https://hellomuscle.janeapp.com">Book Now</a>
  </div>
</div>
