<div class="user-details">
  <h1>Treatments</h1>
  <p>Available in Burnaby, BC</p>
  <p><a class="project-link" href="https://hellomuscle.janeapp.com">Book Now</a></p>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/bikeppls.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Initial treatment </h3>
    <p>
	New clients will fill out a health history form and consult with the therapist to customize the session. Various techniques will be used for relaxation and tension relief. Self-care recommendations may be offered post-massage, and follow-up sessions can be scheduled. The goal is to create a comfortable, personalized experience for ongoing well-being.
</p>
    <a class="project-link" href="https://hellomuscle.janeapp.com">Book Now</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/handppls.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Return Visit</h3>
    <p>A return visit for massage therapy involves the therapist reassessing the client's needs and progress, tailoring the massage treatment accordingly. Regular return visits are recommended for sustained health benefits.
</p>
    <a class="project-link" href="https://hellomuscle.janeapp.com">Book Now</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/cityppls.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Temporal Mandibular Dysfunction Treatment</h3>
    <p>TMJ massage therapy addresses jaw joint and muscle issues through relaxation techniques, tension release, joint mobilization, and home exercises. Consulting a qualified therapist or healthcare professional is recommended for effective TMJ relief.
</p>
    <a class="project-link" href="https://hellomuscle.janeapp.com">Book Now</a>
  </div>
</div>
